@page "/add-product"
@inject IProductService productService
@inject NavigationManager navManager

<h3>Ajouter un produit</h3>

<EditForm Model="product" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label>Nom</label>
        <InputText class="form-control" @bind-Value="product.NameProduct" />
    </div>

    <div class="mb-3">
        <label>Description</label>
        <InputText class="form-control" @bind-Value="product.Description" />
    </div>

    <div class="mb-3">
        <label>Id Marque</label>
        <InputNumber class="form-control" @bind-Value="product.IdBrand" />
    </div>

    <div class="mb-3">
        <label>Id Type Produit</label>
        <InputNumber class="form-control" @bind-Value="product.IdTypeProduct" />
    </div>

    <button type="submit" class="btn btn-primary">Ajouter</button>
</EditForm>

@code {
    private ProductCreateDto product = new();

    private async Task HandleValidSubmit()
    {
        await productService.AddAsync(product);
        navManager.NavigateTo("/products");
    }
}
