@model R5A08_TP1.Models.EntityFramework.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProduit" />
            <div class="form-group">
                <label asp-for="NameProduct" class="control-label"></label>
                <input asp-for="NameProduct" class="form-control" />
                <span asp-validation-for="NameProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamePhoto" class="control-label"></label>
                <input asp-for="NamePhoto" class="form-control" />
                <span asp-validation-for="NamePhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UriPhoto" class="control-label"></label>
                <input asp-for="UriPhoto" class="form-control" />
                <span asp-validation-for="UriPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTypeProduct" class="control-label"></label>
                <select asp-for="IdTypeProduct" class="form-control" asp-items="ViewBag.IdTypeProduct"></select>
                <span asp-validation-for="IdTypeProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdBrand" class="control-label"></label>
                <select asp-for="IdBrand" class="form-control" asp-items="ViewBag.IdBrand"></select>
                <span asp-validation-for="IdBrand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActualStock" class="control-label"></label>
                <input asp-for="ActualStock" class="form-control" />
                <span asp-validation-for="ActualStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinStock" class="control-label"></label>
                <input asp-for="MinStock" class="form-control" />
                <span asp-validation-for="MinStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxStock" class="control-label"></label>
                <input asp-for="MaxStock" class="form-control" />
                <span asp-validation-for="MaxStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
