@model R5A08_TP1.Models.EntityFramework.Produit

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Produit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProduit" />
            <div class="form-group">
                <label asp-for="NomProduit" class="control-label"></label>
                <input asp-for="NomProduit" class="form-control" />
                <span asp-validation-for="NomProduit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomPhoto" class="control-label"></label>
                <input asp-for="NomPhoto" class="form-control" />
                <span asp-validation-for="NomPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UriPhoto" class="control-label"></label>
                <input asp-for="UriPhoto" class="form-control" />
                <span asp-validation-for="UriPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTypeProduit" class="control-label"></label>
                <select asp-for="IdTypeProduit" class="form-control" asp-items="ViewBag.IdTypeProduit"></select>
                <span asp-validation-for="IdTypeProduit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMarque" class="control-label"></label>
                <select asp-for="IdMarque" class="form-control" asp-items="ViewBag.IdMarque"></select>
                <span asp-validation-for="IdMarque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockReel" class="control-label"></label>
                <input asp-for="StockReel" class="form-control" />
                <span asp-validation-for="StockReel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockMin" class="control-label"></label>
                <input asp-for="StockMin" class="form-control" />
                <span asp-validation-for="StockMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockMax" class="control-label"></label>
                <input asp-for="StockMax" class="form-control" />
                <span asp-validation-for="StockMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
